@charset "utf-8";

main, header, footer, article {​​​​​​​border:1px solid gray;
padding:5px}​​​​​​​
main{​​​​​​​
    max-width:600px;
}​​​​​​​
table, th, td{
    border: 1px solid grey;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background: lavender;
}